<div id="root">
  <div class="container">
    <div class="row center">
      <div class="col s6" style="margin-top: 10%;">
        <a class="waves-effect blue waves-light btn" href="<%= game_path(1) %>"> Player 1 </a>
      </div>

      <div class="col s6" style="margin-top: 10%;">
        <a class="waves-effect red waves-light btn" href="<%= game_path(2) %>"> Player 2 </a>
      </div>
    </div>
  </div>
</div>
