<div id="root">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-top: 10%; margin-left: 50%;">
        <a class="waves-effect blue waves-light btn" href="<%= game_path(1) %>"> Player 1 </a>
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin-top: 10%; margin-left: 50%;">
        <a class="waves-effect red waves-light btn" href="<%= game_path(2) %>"> Player 2 </a>
      </div>
    </div>
  </div>
</div>
