<header>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" style="margin-left: 10px;"> Connect Four Game</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#reset_action_here"> Reset Game </a></li>
			</ul>
		</div>
	</nav>
</header>

<main>
	<div id="root">
		<div id="game-session-id" class="main_board_container" data-game-session-id="<%= @game.id %>" data-player-id="<%= current_player %>">
			<%= render partial: "game_views/#{@game.game_board_partial}", locals: { game: @game, player: current_player } %>
		</div>
	</div>
</main>

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">About</h5>
				<p class="grey-text text-lighten-4"> Connect Four Game using Ruby on Rails with Action Cable </p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text"> References </h5>
				<ul>
				<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/nosleinfull/connect-four-game">Github Repo</a></li>
				<li><a class="grey-text text-lighten-3" target="_blank" href="https://materializecss.com/">Materializecss</a></li>
				<li><a class="grey-text text-lighten-3" target="_blank" href="https://edgeguides.rubyonrails.org/action_cable_overview.html">Action Cable Overview</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2021 Made with s2
			<a class="grey-text text-lighten-4 right" target="_blank" href="https://www.linkedin.com/in/nielson-fernandes-silva-01196692"> Nielson - Software Engineer profile </a>
		</div>
	</div>
</footer>
