.dot {
  height: 99%;
  width: 99%;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 80px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

.dot_type_0 {
}

.dot_type_1 {
  background-color: #2196F3 !important;
}

.dot_type_2 {
  background-color: #F44336 !important;
}

.player_one {
  color: #2196F3 !important;
}

.player_two {
  color: #F44336 !important;
}

@media screen and (max-width: 1450px) {
  .square {
    height: 60px;
    width: 60px;
    margin-left: 5px;
    cursor: pointer;
  }

  .square-container {
    margin-right: 3%;
  }
}

@media screen and (max-width: 990px) {
  .square {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    cursor: pointer;
  }

  .square-container {
    margin-right: 3%;
  }
}
