.dot {
  height: 99%;
  width: 99%;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 80px;
  width: 80px;
  margin-left: 5px;
}


@media screen and (max-width: 1450px) {
  .square {
    height: 60px;
    width: 60px;
    margin-left: 5px;
  }

  .square-container {
    margin-right: 3%;
  }
}

@media screen and (max-width: 990px) {
  .square {
    height: 45px;
    width: 45px;
    margin-left: 5px;
  }

  .square-container {
    margin-right: 3%;
  }
}
