.dot {
  height: 99%;
  width: 99%;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 80px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

.dot_type_0 {
}

.dot_type_1 {
  background-color: #2196F3 !important;
}

.dot_type_2 {
  background-color: #F44336 !important;
}


.dot_type_2_win {
  background-color: #ffcdd2 !important;
}

.dot_type_1_win {
  background-color: #bbdefb !important;
}

.player_one {
  color: #2196F3 !important;
}

.player_two {
  color: #F44336 !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .square {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .square-container {
    margin-right: 5%;
    margin-left: auto !important;
  }

  .row-square {
    padding-left: 3.5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .square {
    height: 60px;
    width: 60px;
    cursor: pointer;
  }

  .row-square {
    padding-left: 2.5%;
  }

  .square-container {
    margin-right: 5%;
    margin-left: auto !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .square-container {
    margin-right: 3%;
    margin-left: 2% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .square-container {
    margin-right: 5.9%;
    margin-left: 0% !important;
  }

  .row-square {
    padding-left: 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .square-container {
    margin-right: 5%;
    margin-left: 0% !important;
  }

  .row-square {
    padding-left: 15%;
  }
}

@media only screen and (min-width: 1450px) {

  .square {
    height: 100px ;
    width: 100px;
    margin-left: 5px;
    cursor: pointer;
  }

  .square-container {
    margin-right: 4%;
    margin-left: 0% !important;
  }

  .row-square {
    padding-left: 15%;
  }
}